# Target all C# files in the project
[*.cs]

# C# style settings
csharp_style_namespace_declarations = file_scoped
csharp_style_expression_bodied_methods = when_on_single_line

# .NET style settings
dotnet_style_prefer_global_using_directive = true:suggestion

# CA2007: Do not directly await a Task
dotnet_diagnostic.CA2007.severity = none

# CA1812: Avoid uninstantiated internal classes
dotnet_diagnostic.CA1812.severity = none

# IDE0058: Public member capitalization
dotnet_diagnostic.IDE1006.severity = none